* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Gilroy;
  src: url("../assets/fonts/Gilroy-Light.otf");
}

.vector_menu li {
  border-top: 3px solid #316099;
  width: 24px;
  margin: 5px;
  list-style: none;
  }

.vector_menu {
  position: absolute;
  top:48px;
  right: 87px;
}

.logo img {
margin-left: 83px;
margin-top: 48px;
}

.section_header{
  background-image: url(../assets/images/Mask_Group.svg);
  height: 12rem;
  margin-top: 48px;
  color: #fff;
  text-align: center;
  padding-top: 31px;
}

.section_header  p {
color: rgba(255, 255, 255, 0.4);
width: auto;
height: 60px;
padding-top: 1rem;
margin: 0 293px;
}