/* main boshlandi */
main {
  padding: 3.5rem 12rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aside_right {
  width: 56%;
}

.aside_right form {
  padding: 3rem;
  box-shadow: 5px 0.6rem 3rem rgba(16, 112, 177, 0.2);
  width: 100%;
  box-sizing: border-box;
}

main h2 {
  margin: 0 0 1.5rem 0;
  font-size: 1.3rem;
  color: #1f3f68;
  letter-spacing: 4%;
  line-height: 150%;
  text-transform: uppercase;
}

.aside_right form label {
  color: #1f3f68;
  opacity: 0.8;
  font-size: 1rem;
  line-height: 200%;
}

main p {
  margin-bottom: 1rem;
  width: 80%;
  color: #356ead;
  line-height: 150%;
  opacity: 0.6;
}

main .btn {
  width: 100%;
  margin-top: 2rem;
  border: 1px solid #356ead;
  border-radius: 0.4rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0 2rem 0;
  border: 1px solid #356ead;
  outline: none;
  box-sizing: border-box;
}

.aside_left {
  width: 40%;
  padding: 3.5rem 0;
}

.aside_left img {
  width: 90%;
}

.contact_address {
  margin-top: 4rem;
}

.contact_phone {
  margin: 2.5rem 0;
}

.contact_phone img,
.contact_online_service img {
  width: 1.5rem;
}

.contact_phone a,
.contact_online_service a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 150%;
  color: #1f3f68;
}

.contact_phone p,
.contact_online_service p {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.contact_phone p {
  width: 44%;
}

.aside_bottom {
  width: 100%;
}

.aside_bottom iframe {
  width: 100%;
  height: 30rem;
}

/* main tugadi */

/* Media queries */

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  main {
    padding: 3.5rem 8rem;
  }
  .contact_phone p {
    width: 48%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    padding: 1.5rem 6rem;
  }
  .contact_phone p {
    width: 54%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  main {
    padding: 1.5rem 6rem;
    flex-direction: column;
  }

  .aside_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main h2 {
    text-align: center;
  }

  main p {
    width: 100%;
  }

  .phone {
    display: flex;
    justify-content: space-between;
  }

  .contact_phone,
  .contact_online_service {
    margin: 0.5rem 0;
  }

  .contact_phone p {
    width: 100%;
  }

  .aside_right {
    width: 100%;
    padding-bottom: 1rem;
  }

  .aside_bottom {
    margin: 3rem 0;
  }

  .aside_bottom iframe {
    height: 20rem;
  }
}
