@font-face {
  font-family: Gilroy;
  src: url("../assets/fonts/Gilroy-Light.otf");
}

.footer_wrapper {
  background-image: url("../assets/images/Rectangle\ 4.svg");
  background-repeat: no-repeat;
  color: white;
  padding-left: 13rem;
  padding-top: 5rem;
  position: relative;
}

.text_item h2 {
  font-size: 2.2rem;
  line-height: 3rem;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
}

.text_item p {
  margin-right: 37rem;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 1.7rem;
  opacity: 0.6;
  margin-bottom: 6rem;
}

footer .btn {
  position: absolute;
  text-align: center;
  right: 12rem;
  top: 10rem;
  padding: 1rem 4.5rem;
}

.line {
  border-bottom: 1px solid #fff;
  opacity: 0.4;
  margin-right: 197px;
}

.left_down_item {
  display: grid;
  grid-template-columns: 40% 25% 25%;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.about_list li {
  margin: 1rem 0;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.left_down_item h2 {
  font-size: 1.3rem;
  line-height: 150%;
  margin-bottom: 2rem;
  letter-spacing: 0.05em;
}

.about_contact li {
  padding-bottom: 1.5rem;
}

.about_contact {
  display: grid;
  grid-template-columns: 4rem auto;
}

.logo_column_list {
  display: grid;
  row-gap: 10px;
}

footer li {
  list-style: none;
}

@media (min-width: 1400px) and (max-width: 1700px) {
  footer .btn {
    right: 30vw;
    margin-right: 0;
    width: 18%;
    margin-bottom: 2rem;
  }

  .text_item p {
    margin-right: 0;
    width: 30%;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer_wrapper {
    padding-left: 8rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer_wrapper {
    padding-left: 5rem;
  }
  footer .btn {
    right: 5rem;
    top: 165px;
  }
  .text_item p {
    margin-right: 20rem;
  }
  .left_down_item {
    grid-template-columns: 40% 25% 35%;
    column-gap: 2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  footer .btn {
    display: none;
  }
  .text_item h2 {
    margin-top: 2rem;
  }
  .text_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .text_item p {
    margin-right: 0;
    width: 80%;
    margin-bottom: 2rem;
  }

  .left_down_item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 0;
  }

  .logo_column_list {
    margin-right: 1rem;
  }

  .about_contact {
    display: flex;
  }
  .footer_wrapper {
    padding: 0;
  }
  .about_list li:first-child {
    margin-top: 0;
  }
  .left_down_item h2,
  .about_contact p img,
  .about_us {
    display: none;
  }
  .line {
    margin-right: 0;
  }
}
