/* General CSS boshlandi*/

* {
  margin: 0;
  padding: 0;
  font-family: Gilroy, sans-serif;
}

@font-face {
  font-family: Gilroy;
  src: url("../assets/fonts/Gilroy-Light.otf");
}

.btn {
  padding: 0.75rem 2.25rem;
  background-color: #5a98d0;
  color: #fff;
  border-radius: 0.6rem;
  border: 3px solid #5a98d0;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 4%;
  box-shadow: 5px 5px 0.75rem #356ead;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #5a98d0;
}

/* General CSS tugadi */

/* Navbar CSS boshlandi */

nav {
  padding: 0.5rem 5rem;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu li {
  margin-left: 2rem;
  font-size: 1.2rem;
}

.menu li a {
  color: #356ead;
  text-decoration: none;
  font-weight: bold;
}

.logo img {
  width: 4rem;
}

/* Navbar CSS tugadi */

/* Header CSS boshlandi */

header {
  display: flex;
  padding: 1.5rem 2rem 1.5rem 12rem;
  align-items: center;
  background: linear-gradient(rgba(152, 195, 232, 0), rgba(152, 195, 232, 0.5));
}

header .right img {
  width: 35rem;
}

header h1 {
  font-size: 3rem;
  color: #1f3f68;
  letter-spacing: 4%;
  line-height: 120%;
}

header p {
  width: 80%;
  margin: 2rem 0 4rem 0;
  color: #1f3f68;
  opacity: 0.6;
  line-height: 150%;
}

/* Header CSS tugadi */

/* Main CSS boshlandi */

.about {
  padding: 8rem 8rem 8rem 15rem;
  display: flex;
  justify-content: space-between;
}

.about_left {
  width: 50%;
}

.about_right {
  width: 40%;
}

.about_left .about_item {
  width: 60%;
}

.about_left .title {
  width: 50%;
  margin-bottom: 11rem;
}

.about_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.about_right .about_item:first-child {
  margin-bottom: 6rem;
}

.about_item a {
  color: #5a98d0;
  text-decoration: none;
  font-weight: bold;
}

.about_item_text p:last-child {
  position: relative;
  margin-top: 2rem;
}

.about_item_text span img {
  position: absolute;
  left: 6.5rem;
}

/* Main CSS tugadi */

/* Media queries */

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  header {
    padding: 1.5rem 2rem 1.5rem 5rem;
  }
  header .right img {
    width: 28rem;
  }
  header p {
    width: 90%;
  }

  .about {
    padding: 8rem 5rem 6rem 7.5rem;
  }
  .about_left .title {
    width: 60%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
  header {
    padding: 1.5rem 2rem 1.5rem 5rem;
  }
  header .right img {
    width: 25rem;
  }
  header p {
    width: 100%;
  }
  header h1 {
    font-size: 2.5rem;
  }

  .about {
    padding: 6rem 5rem 6rem 5rem;
  }
  .about_left .about_item {
    width: 70%;
  }
  .about_left .title {
    width: 60%;
  }
  .about_left {
    width: 55%;
  }
  .about_right {
    width: 45%;
  }
  .about_item {
    padding: 2rem;
  }
  .about_item > img {
    width: 90%;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }
  header {
    padding: 1.5rem 3rem 1.5rem 3rem;
    text-align: center;
  }
  header .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .right img {
    display: none;
  }
  header p {
    width: 100%;
  }
  header h1 {
    width: 80%;
    font-size: 2.5rem;
  }

  .about {
    padding: 3rem;
  }
  .about_left .about_item {
    width: 65%;
  }
  .about_left .title {
    width: 75%;
  }
  .about_left {
    width: 55%;
  }
  .about_right {
    width: 45%;
  }
  .about_item {
    padding: 1.5rem;
  }
  .about_item > img {
    width: 90%;
  }
  .about_item_text span img {
    left: 6.5rem;
    width: 1.5rem;
  }
}
